@font-face {
  font-family: 'DX';
  font-display: swap;
  src: url('/fonts/DX.ttf') format("truetype");
}
@font-face {
  font-family: 'XK';
  font-display: swap;
  src: url('/fonts/XK.ttf') format("truetype");
}
div {
	font-weight: 550;
}
h1 {
	font-weight: 600;
}
body {
    font-family: 'DX','XK';
}