@font-face {
    font-family: "DengXian";
    src: url("DX.eot"); /* IE9 */
    src: url("DX.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("DX.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("DX.woff") format("woff"), /* chrome, firefox */
    url("DX.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("DX.svg#DengXian") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


